/* common styles starts*/

@import url('https://fonts.googleapis.com/css?family=Exo+2:100,300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700');
#page-top {
    width: 100% !important;
    height: 100% !important;
    display: block !important;
    color: #ffffff !important;
    overflow: auto !important;
    display: block !important;
    overflow-x: hidden !important;
    font-family: 'Exo 2', sans-serif;
    /*font-family: 'Raleway', sans-serif;*/
}

a,
a:focus,
a:hover {
    text-decoration: none;
    color: inherit;
}

p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

section {
    padding: 40px 0;
    min-height: 700px;
    color: #ffffff !important;
}

.clr-wt {
    color: #ffffff !important;
}

.bg-red {
    background-color: #fff;
}

.bg-th {
    background-color: #eee;
}

.clr-th {
    color: #ef3f82;
}


.nav-item .nav-link .active-style {
    width: 0%;
}

.nav-item .nav-link:hover .active-style,
.nav-item .nav-link.active .active-style {
    height: 2px;
    width: 95%;
    border-radius: 10%;
    background: white;
    margin: 0 auto;
    position: relative;
    top: 22px;
    transition: 0.3s all;
}

.navbar-collapse.menu-items {
    justify-content: flex-end;
    color: #fff !important;
}

.navbar-collapse.nice-menu .menu-items .nav-item a,
.navbar-light.nice-menu .navbar-nav .nav-link.active {
    color: #fff;
}

.navbar-light.nice-menu .navbar-nav .nav-link {
    font-size: 14px;
    color: #fff;
    letter-spacing: 0;
    text-transform: uppercase;
    font-weight: 400;
    padding: 23px 15px;
    transition: 0.3s;
}

.navbar-light.nice-menu .navbar-nav .nav-link.active,
.navbar-light.nice-menu .navbar-nav .nav-link:hover {
    color: #fff;
    background: #e60076;
}

.logo .logo-text {
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 20px;
    cursor: pointer;

}

.banner-content {
    position: relative;
    top: 100px;
    margin: 0 auto;
    line-height: 70px;
    text-align: center;
    width: 80%;
    font-family: 'Raleway', sans-serif;
}

.banner-tittle {
    margin-top: 80px;
    color: #fff;
    letter-spacing: 3px;
    text-shadow: 0 0 3px rgba(0, 0, 0, .5);
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 22px;
    font-size: 72px;
}

.banner-content .sub-tittle {
    font-size: 39px;
    margin: 0;
    line-height: 45px;
    font-weight: 200;
    color: #fff;
    text-transform: capitalize;
}


.dot-lg {
    display: inline-block;
    height: 18px;
    width: 18px;
    border-radius: 100%;
    text-shadow: 0 0 3px rgba(0, 0, 0, .5);
    background-color: #ef3f82;
    margin-left: 10px;
}

.dot-sm {
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 100%;
    text-shadow: 0 0 3px rgba(0, 0, 0, .5);
    background-color: #ef3f82;
    margin-left: 10px;
}

.section-tittle {
    font-size: 45px;
    color: #464646;
    font-weight: 400;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
}

.sub-tittle {
    font-size: 30px;
    margin: 0;
    line-height: 45px;
    letter-spacing: 1px;
    font-weight: 200;
    font-family: 'Raleway', sans-serif;
    color: #ef3f82;
    text-transform: capitalize;
}

.text-content p {
    font-size: 19px;
    color: #464646;
    line-height: 26px;
    font-weight: 200;
}

.nice-button {
    background-color: transparent;
    color: #ef3f82;
    border-radius: 2px;
    border: 1px solid #ef3f82;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 11px 15px;
    outline: none !important;
    box-shadow: none;
    cursor: pointer;
    margin-top: 10px;
}

.nice-button:hover {
    background-color: #ef3f82;
    color: #fff;
    transition: 0.3s;
}



.go-to span.ion-android-plane {
  animation: slidein 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  animation-duration: 0.2s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes slidein {
  from {
    margin-left: 1%;
   
  }

  to {
    margin-left: 0%;
   
  }
}



/*common styles ends*/


/*contact-styles starts*/

.contact .section-tittle {
    text-align: center;
    font-weight: bold;
    letter-spacing: 0px;
}

.contact .sub-tittle {
    font-size: 16px;
    line-height: 22px;
    padding: 10px 0;
    font-weight: 300;
    text-align: center;
    color: #474747;
    text-transform: capitalize;
}

.contact .help-text {
    text-align: center;
    color: #ef3f82;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 15px;
    margin: 25px;
    text-transform: capitalize;
}

.contact .form-control.input {
    border: 1px solid #ccc;
    border-radius: 2px;
    min-height: 50px;
    font-size: 16px;
    color: #474747;
    margin-bottom: 30px;
}

.contact .nice-button {
    background-color: #ef3f82;
    color: #fff;
}


/*header-navigation starts*/

.fixed-top {
    height: 70px;
    background-color: #ff0083;
    color: #fff;
}

footer.footer {
    background: #eee;
    padding-top: 9px;
    position: relative;
    width: 100%;
    bottom: 0;
}

.copyright {
    font-size: 14px;
    transition: 0.3s;
}

.social {
    float: right;
}

.terms {
    padding: 8px 0;
    color: rgba(71, 71, 71, 0.88);
    text-transform: capitalize;
    font-weight: 500;
    line-height: 30px;
}

.terms span.term,.terms span.rights {
    font-size: 13px;
    padding: 0 6px;
    transition: 0.3s;
}
.terms span.term:hover{
    text-decoration: underline;
    cursor: pointer;
        color: #ef3f82;
}

.social .icon {
    font-size: 18px;
    margin-left: 20px;
    cursor: pointer;
    margin-bottom: 10px;
    line-height: 35px;
    text-align: center;
    transition: 0.3s;
    border: 1px solid #999999;
    border-radius: 100%;
    height: 35px;
    display: inline-block;
    background-color: #999999;
    width: 35px;
}

.social .icon:hover {
    background-color: #ef3f82;
    color: #fff;
    border: 1px solid #ef3f82;
    cursor: pointer;
}

.social .icon,
.copyright {
    color: rgba(255, 255, 255, 1);
}

.copyright .dw {
    font-weight: 900;
    display: inline-block;
    font-size: 30px;
    color: #474747;
    position: relative;
    cursor: default;
    top: -10px;
}

/*hexagon  styles*/
.hex .help-text{
       opacity: 0;
    transition: 0.2s;
    transform:rotate(30deg);
    position: absolute;
    z-index: 9999;
}
.hex:hover
/*.hex.hex-md1:hover,
.hex.hex-md2:hover,
.hex.hex-md3:hover,
.hex.hex-md4:hover*/{
    background-color: #e73b76;
    transition: 0.1s;
}


.hex .help-text1{

}

.hex.hex-md1 .help-text1,
.hex.hex-md2 .help-text1,
.hex.hex-md3 .help-text1,
.hex.hex-md4 .help-text1 {
        position: absolute;
    z-index: 9999;
    height: auto;
    transition: 0.2s;
    opacity: 1;
    font-size: 15px;
    font-weight: 900;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    left: -10px;
    transform: rotate(30deg);
    text-align: center;
}

.hex:hover .help-text{
    position: absolute;
    z-index: 9999;
    height: auto;
    transition: 0.2s;
    display: inline-block;
    opacity: 1;
    font-weight: 900;
    line-height: 18px;
    margin: 0 auto;
   /* transform:rotateY(180deg);*/
    text-align: center;
    left: -14px;
    top: 35%;
    right: 0;
    bottom: 0;
    /*font-size: 80%;*/
}


.fill-height{
    height: -webkit-fill-available;
}
/*hexagon styles starts*/
.left-grids .hexa-grids{
     transform: rotateY(360deg);
    left: -8%;

}
.left-grids{
    /* overflow: hidden;
    overflow-x: hidden;*/
}
   
.about .grids{
    /*overflow-x: hidden;
    overflow: hidden;*/
}
.about .grids .hexa-grids{
    left: 4.6%;
}
.how-it-works ul {
    left: 50px;
}

.how-it-works .left-grids .hex:hover .help-text1{
    
}
.how-it-works .left-grids .hex .help-text1{
    /*transform: rotateY(180deg);*/
}
.how-it-works .hexa-grids {
    max-width: 100%;
}

.hexa-grids {
    position: relative;
    border: 0 solid transparent;
    height: 100%;
    top: 18%;
}

.hex {
    transform: rotate(-30deg);
    margin: 1em auto;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: #e0d9d9;
    display: flex;
    font-size: 15px;
}

.hex:before,
.hex:after {
    position: absolute;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    background-color: inherit;
    content: '';
    text-align: center;
}

.hex:before {
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg);
}

.hex:after {
    -webkit-transform: rotate(-60deg);
    transform: rotate(-60deg);
}



/*.hex-md1*/

.hex-md1 {
    width: 69px;
    height: 116px;
    right: 190px;
    position: absolute;
    top: -49px;
    background-color: #e73b76;
}

.hex-md2 {
    width: 77px;
    position: absolute;
    height: 128px;
    top: 72px;
    left: 116px;
    background-color: #e73b76;
}

.hex-md3 {
    position: absolute;
    top: 70px;
    right: 116px;
    width: 70px;
    background-color: #e73b76;
    height: 115px;
}

.hex-md4 {
    position: absolute;
    left: 200px;
    top: 196px;
    width: 68px;
    height: 115px;
    background-color: #e73b76;
}

.hex-md5 {
    position: absolute;
    left: 68px;
    top: -27px;
    width: 55px;
    height: 89px;
}

.hex-md6 {
    position: absolute;
    left: 12px;
    top: 62px;
    width: 40px;
    height: 67px;
}

.hex-md7 {
    position: absolute;
    left: 21px;
    top: 154px;
    width: 40px;
    height: 64px;
}

.hex-md8 {
    position: absolute;
    left: 72px;
    top: 217px;
    width: 60px;
    height: 99px;
}

.hex-md9 {
    width: 77px;
    position: absolute;
    height: 128px;
    top: -57px;
    right: -237px;
}

.hex-md10 {
    position: absolute;
    top: -37px;
    right: 60px;
    width: 61px;
    height: 102px;
}

.hex-md11 {
    top: 77px;
    right: -26px;
    width: 69px;
    position: absolute;
    height: 119px;
}

.hex-md12 {
    top: 199px;
    right: 37px;
    width: 71px;
    position: absolute;
    height: 123px;
}


/*hexagon styles ends*/

@media(max-width: 992px) {
    .hexa-grids{
        display: none;
    }

nav .logo{
    display: inline-block;
    line-height: 52px;
}
    .navbar-light.nice-menu .navbar-toggler.mobile-btn {
        color: #fff;
        right: 0;
        top: 15px;
        border-color: #fff;
        border-radius: 0;
        border: 1px solid #fff;
        font-size: 13px;
        font-weight: 600;
        padding: 3px 10px;
        outline: none !important;
        box-shadow: none;
        cursor: pointer;
        position: absolute;
        right: 29px;
        top: 15px;
    }
    .mobile-btn .ion-drag {
        font-size: 28px;
    }
    .mobile-menu {
        height: auto;
        width: 100%;
        background-color: #ea3963;
    }
    .active-style {
        display: none;
    }
    .fixed-top {
        height: auto;
        min-height: 70px;
    }
    .navbar-light.nice-menu .navbar-nav .nav-link {
        padding: 10px 15px;
    }
    .banner-content {
        width: 100%;
    }
    .banner-tittle {
        font-size: 55px;
        margin-bottom: 30px;
        margin-top: 0;
    }
    .banner-content .sub-tittle {
        margin-bottom: 80px;
    }
    .section-tittle{
        font-size: 33px;
    }
    .sub-tittle{
        font-size: 25px;
            line-height: 28px;
    }

    footer.footer {
        height: auto;
    }
}

.nice-menu .go-top {

    opacity: 0;
    height: 50px;
    width: 50px;
    position: fixed;

}

.nice-menu.navbar-shrink .go-top a {
    padding: 0;
    text-decoration: none;
}

.nice-menu.navbar-shrink .go-top:hover {
    background-color: rgba(231, 59, 118, 0.71);
    color: white;

}

.nice-menu.navbar-shrink .go-top {
    position: fixed;
    display: inline-block;
    height: 50px;
    bottom: 30px;
    background-color: rgba(239, 63, 130, 0);
    /* box-shadow: 0 0 16px 5px rgba(0, 0, 0, 0.22); */
    /* border: none; */
    transition: 0.3s;
    color: #ef3f82;
    opacity: 1;
    border: 1px solid #e73b76;
    right: 40px;
    font-size: 26px;
    width: 50px;
    border-radius: 100%;
    cursor: pointer;
}


/*extra pages*/
 .go-back {
        background-color: rgb(239, 63, 130);
    color: #ffffff;
    border-radius: 50%;
    border: 1px solid #ef4890;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 54px;
    width: 54px;
    outline: none !important;
    box-shadow: none;
    cursor: pointer;
    position: fixed;
    top: 5%;
    left: 10%;
    }

    .go-back span {
            display: block;
    font-size: 15px;
    color: #ffffff;
    }
    .go-back a{
            display: inline-block;
    padding: 0;
    color: #ffffff;
    text-decoration: none;
    }
    h2 b{
        text-transform: uppercase;
    }
/*extra pages*/
